use Mix.Config

# Configure your database
config :explorer, Explorer.Repo,
  database: "vagrant",
  hostname: "localhost",
  username: "vagrant",
  password: "vagrant",
  pool_size: 20,
  timeout: 80_000
