// general
$primary: #00E676;
$secondary: #263238;
$tertiary: #BDBDBD;

//header
$header-background-color: #263238;
$header-links-color: #f4f4f6;
$header-links-color-active: #f4f4f6;
$header-icon-color-hover: $primary;
$header-icon-border-color-hover: $primary;

// navigation
$dropdown-menu-item-hover-color: $primary !default;
$dropdown-menu-item-hover-background: rgba($primary, .1) !default;
$dropdown-menu-item-color: $secondary;


// dashboard
$dashboard-banner-network-plain-container-background-color: $header-background-color;
$dashboard-line-color-price: $primary; // price left border
$dashboard-line-color-market: #4B89FB; // price left border
$dashboard-banner-gradient-start: #212121;
$dashboard-banner-gradient-end: #212121;
$dashboard-stats-item-border-color: $primary;
$dashboard-stats-item-label-color: $primary;
$dashboard-banner-chart-legend-label-color: $header-links-color;
#dark-mode-changer {
  display:none;
}

.dashboard-banner-container {
  background-color: #212121;
  background-image:none;
  margin-bottom: 3rem;
  overflow: hidden;
  padding: 0;
  position: relative;
}

.layout-container {
  .dashboard-banner-container {
    background-image: linear-gradient(
                    to bottom,
                    $dashboard-banner-gradient-start,
                    $dashboard-banner-gradient-end
    );
  }
}


// buttons
$btn-line-bg: #fff; // button bg
$btn-line-color: $primary; // button border and font color && hover bg color
$btn-copy-color: $primary; // btn copy
$btn-qr-color: $primary; // btn qr-code

//links & tile
$tile-body-a-color: $primary;
$tile-type-block-color: $primary;
$tile-type-progress-bar-color: $primary;
a.tile-title { color: $primary !important; }
$tile-type-transaction-color:$primary;
.tile.tile-type-transaction .tile-label {
  color: #212121 !important;
}

// card
$card-background-1: $primary;
$card-tab-active: $primary;

// Badges
$badge-neutral-color: $primary;
$badge-neutral-background-color: rgba($primary, .1);
$api-text-monospace-color: $primary;

//footer
$footer-background-color: $header-background-color;
$footer-text-color:$header-links-color;
$footer-title-color:$header-links-color;
$footer-item-disc-color:$primary;